[Desktop Entry]
Name=VOSK Dictation
Comment=Говоришь голосом, получаешь текст!
Exec=AppRun
Icon=icon
Type=Application
Categories=Utility;
StartupNotify=true
Terminal=false
